<div class="max-w-3xl mx-auto mt-10 px-4">
  <h1 class="text-2xl font-bold mb-6 block"><%= @goal.name %></h1>

  <div class="bg-white shadow rounded p-2 flex place-content-around">
    <p class="text-lg">
      <strong>Disponible:</strong>
      <span><%= clp(@snapshot.nav) %></span>
    </p>

    <p class="text-lg">
      <strong>Ganancia:</strong>
      <%= clp(@snapshot.profit) %>
    </p>
  </div>
  <div id="snapshots-table" class="mt-6">
    <%= render TableComponent.new(rows: @snapshots) do |table| %>
      <% table.with_column(name: "Fecha", classes: "text-left text-gray-700") do |snapshot| %>
        <%= snapshot.created_at.strftime("%d/%m/%Y") %>
      <% end %>

      <% table.with_column(name: "Total", classes: "text-left text-green-600") do |snapshot| %>
        $<%= number_with_delimiter(snapshot.nav.to_i, delimiter: ".") %>
      <% end %>

      <% table.with_column(name: "Ganancia", classes: "text-left") do |snapshot| %>
        <span class="<%= snapshot.profit.to_i < 0 ? "text-red-600" : "text-green-600" %>">
          $<%= number_with_delimiter(snapshot.profit.to_i, delimiter: ".") %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
