<%= render ModuleHeaderComponent.new(
  title: "Historial de presupuestos",
  description: "Consulta los periodos anteriores de tus presupuestos y revisa sus resultados."
) do %>
  <section class="bg-white shadow-sm rounded-2xl p-6 sm:p-8 border border-slate-200 min-h-[calc(100vh-16rem)]">
    <% if @periods.any? %>
      <%= render TableComponent.new(rows: @periods) do |table| %>
      <% table.with_column(name: "Presupuesto", classes: "text-left font-medium text-gray-900") do |period| %>
        <%= period.budget.name %>
      <% end %>

      <% table.with_column(name: "Periodo", classes: "text-left text-gray-700") do |period| %>
        <%= period.human_label %>
      <% end %>

      <% table.with_column(name: "Total", classes: "text-left text-green-600") do |period| %>
        $<%= number_with_delimiter(period.total.to_i, delimiter: ".") %>
      <% end %>

      <% table.with_column(name: "Gasto total", classes: "text-left text-red-600") do |period| %>
        $<%= number_with_delimiter(period.total_spent.to_i, delimiter: ".") %>
      <% end %>

      <% table.with_column(name: "Restante", classes: "text-left text-gray-700") do |period| %>
        $<%= number_with_delimiter(period.remaining.to_i, delimiter: ".") %>
      <% end %>

      <% table.with_column(name: "Acciones", classes: "text-center") do |period| %>
        <div class="flex items-center justify-center space-x-2">
          <%= link_to budget_budget_period_expenses_path(budget_id: period.budget.id, budget_period_id: period.id), class: "inline-flex items-center justify-center rounded-full text-violet-700 hover:bg-violet-100 hover:text-violet-900 transition-colors duration-200 cursor-pointer", data: { "tippy-content": "Ver gastos" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 16h8M8 12h8m-6 8h6m-2-18H6a2 2 0 00-2 2v16l4-4h10a2 2 0 002-2V6a2 2 0 00-2-2z" />
            </svg>
          <% end %>
        </div>
      <% end %>
      <% end %>
    <% else %>
      <p class="text-gray-600 italic">No se encontraron periodos.</p>
    <% end %>
  </section>
<% end %>
